/*css for main part of home.php*/
.container{width: 100%;
height: auto;
display: flex;
justify-content: center;
margin-top: 50px;
}

.main-article{float: left;
width: 50%;
width: 450px;
margin-right: 30px}

aside{
width: 40%;
float: left}

.aside-articles{    display: flex;
    flex-direction: column;
    }

.aside-articles article{display: flex;
padding-bottom: 20px;}  

.text-aside{margin-left: 10px}  

.text-aside h1{margin-bottom: 5px}

.main-article img{width: 450px}
.main-article h1{margin: 15px 0 15px 0}

.container:after {
    content: '';
    display: block;
    clear: both;
}




/*link*/
.link{width: 100%;
height: 300px;
background: url("../images/Taste the Difference.jpg") no-repeat;
background-size: cover }

.link h1{color: white;
text-align: center;
padding-top: 50px}

button{    width: 290px;
    height: 36px;
    border-radius: 8px;
    background-color: white;
    color: black;
    margin:0 auto;
    margin-top: 35px;
    display: block;
    font-size: 14px;}


/*bottom articles    */

.bottom-artic{    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    background-color: #F7F7F7;
    font-size: 14px;}

.bottom-articles{width: 300px;
height: 200px;
margin-right: 20px;
 }



/*css for main part of service.php*/
.container-services-upper-part {
    width: 985px;
    margin: 0 auto;
}

.container-services-upper-part .article-services article img {
    float: left;
    width: 357px;
    margin-bottom: 45px;
}

.container-services-upper-part .article-services article h1,
.container-services-upper-part .article-services article p {
    float: right;
}

.container-services-upper-part .article-services article h1 {
    font-size: 2.5em;
    width: 602px;
}

.container-services-upper-part .article-services article p {
    width: 598px;
    font-size: 1.3em;
}

.container-services-upper-part .article-services:after {
    content: '';
    display: block;
    clear: both;
}

.container-services-bottom-part {
    background: gainsboro;
}
.container-services-bottom-part .article-services {
    display: flex;
    flex-direction: row;
}

.container-services-bottom-part .article-services article {
    width: 550px;
    padding: 65px 40px;
}

.container-services-bottom-part .article-services h1 {
   margin-bottom: 20px;
}


/*css for main part of about.php*/
.container-about-upper-part {
    width: 900px;
    margin: 0 auto;
    border-bottom: 1px dotted;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.container-about-upper-part article h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.container-about-upper-part article h2 {
    text-align: center;
    margin-bottom: 20px;
}

.container-about-upper-part article p {
    font-size: 1.2em;
    text-align: center;
}

.container-about-bottom-part {
    width: 900px;
    margin: 0 auto;
}

.container-about-bottom-part .about-services {
    display: flex;
    flex-direction: row;
}

.container-about-bottom-part .about-services article {
    width: 300px;
    margin-right: 40px;
}

.container-about-bottom-part .about-services article img {
    border-radius: 50%;
    margin-left: 20px;
}

.container-about-bottom-part .about-services article img,
.container-about-bottom-part article h2 {
    margin-bottom: 20px;
}

.container-about-bottom-part .about-services article:nth-child(2) > img,
.container-about-bottom-part .about-services article:nth-child(3) > img {
    width: 200px;
    height: 190px;
}

.container-about-bottom-part article h2 {
    text-align: center;
    font-size: 2.0rem;
}

.container-about-bottom-part article p {
    font-size: 1.2em;
}


/*css for main part of store.php*/
.container-store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.container-store .store {
    width: 308px;
    height: 466px;
    margin-bottom: 25px;
    background: #DDA0DD;
    margin-right: 25px;
}

.container-store .store .store-products {
    position: relative;
    padding: 10px 9px 0 10px;
    height: 100%;
}

.store-products > span:nth-child(1) {
    position: absolute;
    top: 10px;
    color: #ffffff;
    display: block;
    text-align: center;
    background: #4B0082;
    width: 89%;
    padding: 7px;
    font-size: 1.2rem;
}

.store-products img {
    width: 287px;
    height: 350px;
    margin-bottom: 8px;
}

.store-products > .discount {
    position: absolute;
    left: 20px;
    bottom: 123px;
    color: #ffffff;
    border: 1px solid #4B0082;
    background: #4B0082;
    padding: 5px 10px;
    font-weight: 400;
}

.store-products .type-product {
    margin-bottom: 8px;
}

.store-products .type-product p,
.store-products .description p {
    float: left;
    font-size: 1.2rem;
}

.store-products .description p,
.store-products .description span {
    color: gray;
}

.store-products .description span {
    text-decoration: line-through;
}

.store-products > .description > .description-info {
    width: 85%;
}

.store-products .type-product span,
.store-products .description span {
    float: right;
    font-size: 1.1rem;
}

.store-products .type-product:after,
.store-products .description:after {
    content: '';
    display: block;
    clear: both;
}

#paging {
    padding-bottom: 1rem;
    text-align: center;
}

#paging a {
    font-size:0.9rem;
    background-color:gainsboro;
    border: 1px solid gray;
    padding:0.5rem 0.9rem;
    color: black;
    text-decoration:none;
}


/*css for main part of contact.php*/
.container-contact .visit-us-article {
    width: 900px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.container-contact .visit-us-article .visit-us-img {
    float: left;
}

.container-contact .visit-us-article .address-info {
    float: right;
    width: 400px;
}

.container-contact .visit-us-article:after {
    content: '';
    display: block;
    clear: both;
}

.container-contact .visit-us-article .address-info h1,
.container-contact .message-article h1 {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.container-contact .visit-us-article .address-info p,
.container-contact .message-article p {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.container-contact .message-article {
    width: 900px;
    margin: 0 auto;
}

.container-contact .message-article h1 {
    text-align: center;
    text-transform: uppercase;
}

.container-contact .message-article p {
    text-align: center;
    margin-bottom: 20px;
}

.message-article form .form-parts .left-part {
    float: left;
    width: 440px;
}

.message-article form .form-parts .right-part {
    float: right;
    width: 425px;
}

.message-article form .form-parts:after {
    content: '';
    display: block;
    clear: both;
}

.form-parts .left-part .name,
.form-parts .left-part .email,
.form-parts .left-part .subject {
    margin-bottom: 16px;
}


.form-parts .left-part label,
.form-parts .right-part label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.form-parts .left-part input {
    width: 100%;
    height: 40px;
}

.form-parts .right-part textarea {
    width: 100%;
}

.button {
    float: right;
    padding: 10px 40px;
    border-radius: 5px;
    background: deeppink;
    color: #ffffff;
    border: 1px solid deeppink;
}

.button:hover {
    cursor: pointer;
    background: #4B0082;
    border: 1px solid #4B0082;
}

form:after {
    content: '';
    display: block;
    clear: both;
}
