/*css for main part of home.php*/
.container {
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;

}

.main-article {
    float: left;
    width: 450px;
    margin-right: 50px;
}

aside {
    width: 50%;
    float: left;
}

.aside-articles {
    display: flex;
    flex-direction: column;
}

.aside-articles article {
    display: flex;
    padding-bottom: 20px;
}

.text-aside {
    margin-left: 10px;
}

.text-aside h1 {
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.main-article img {
    width: 450px;
}

.main-article h1 {
    margin: 15px 0 15px 0;
    font-size: 1.9rem;
}

.main-article p {
    font-size: 1.0rem;
}

.container:after {
    content: '';
    display: block;
    clear: both;
}

/*link*/
.link {
    width: 100%;
    height: 300px;
    background: url("../images/Taste the Difference.jpg") no-repeat;
    background-size: cover
}

.link h1 {
    color: white;
    text-align: center;
    padding-top: 50px
}

.link a {
    text-decoration: none;
}

button {
    width: 290px;
    height: 36px;
    border-radius: 8px;
    border: 1px solid white;
    background-color: white;
    color: black;
    margin: 0 auto;
    margin-top: 35px;
    display: block;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background-color: gainsboro;
    border: 1px solid gainsboro;
}

/*bottom articles*/

.bottom-artic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    font-size: 14px;
    width: 1000px;
    margin: 0 auto;
}

.bottom-articles {
    width: 300px;
    height: 200px;
    margin: 20px 20px 20px 0;
}

/*css for main part of service.php*/
.container-services-upper-part .article-services {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.container-services-upper-part .article-services img {
    float: left;
    width: 357px;
    margin-bottom: 10px;
}

.container-services-upper-part .article-services .services {
    float: right;
    width: 600px;
}

.container-services-upper-part .article-services .services h1 {
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.container-services-upper-part .article-services .services p {
    font-size: 1.0rem;
    text-align: justify;
    padding-right: 45px;
}

.container-services-upper-part .article-services:after {
    content: '';
    display: block;
    clear: both;
}

.container-services-bottom-part {
    background: gainsboro;
}

.container-services-bottom-part .article-services {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.container-services-bottom-part .article-services article {
    width: 586px;
    margin: 50px 50px 50px 0;
}

.container-services-bottom-part .article-services h1 {
    margin-bottom: 20px;
    font-size: 1.0rem;
}

.container-services-bottom-part .article-services p {
    text-align: justify;
    font-size: 0.9rem;
}

/*css for main part of about.php*/
.container-about-upper-part {
    width: 1000px;
    margin: 0 auto;
    border-bottom: 1px dotted;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.container-about-upper-part article h1 {
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 20px;
}

.container-about-upper-part article h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.container-about-upper-part article p {
    font-size: 1.0rem;
    text-align: center;
}

.container-about-bottom-part {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.container-about-bottom-part .about-services {
    display: flex;
    flex-direction: row;
}

.container-about-bottom-part .about-services article {
    width: 300px;
    margin-right: 20px;
    margin-left: 20px;
}

.container-about-bottom-part .about-services article img {
    border-radius: 50%;
    margin-left: 44px;
}

.container-about-bottom-part .about-services article img,
.container-about-bottom-part article h2 {
    margin-bottom: 20px;
}

.container-about-bottom-part .about-services article:nth-child(2) > img,
.container-about-bottom-part .about-services article:nth-child(3) > img {
    width: 200px;
    height: 190px;
}

.container-about-bottom-part article h2 {
    text-align: center;
    font-size: 1.4rem;
}

.container-about-bottom-part article p {
    font-size: 1.0em;
    text-align: justify;
}

/*css for main part of store.php*/
.container-store {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
}

.container-store .store {
    width: 308px;
    margin-bottom: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    background: #DDA0DD;
}

.container-store .store .store-products {
    position: relative;
    padding: 10px 10px 0 10px;
    height: auto;
}

.store-products > span:nth-child(1) {
    color: #ffffff;
    display: block;
    text-align: center;
    background: #4B0082;
    padding: 7px;
    font-size: 1.0rem;
}

.store-products img {
    width: 287px;
    height: 350px;
    margin-bottom: 8px;
}

.discount {
    position: absolute;
    top: 350px;
    left: 20px;
    color: #ffffff;
    border: 1px solid #4B0082;
    background: #4B0082;
    padding: 5px 10px;
    font-weight: 400;
}

.store-products .type-product {
    margin-bottom: 8px;
}

.store-products .type-product p,
.store-products .description p {
    float: left;
    font-size: 1.0rem;
}

.store-products .description p,
.store-products .description span {
    color: gray;
}

.store-products .description span {
    text-decoration: line-through;
}

.store-products > .description > .description-info {
    width: 81%;
}

.store-products .type-product span,
.store-products .description span {
    float: right;
    font-size: 1.0rem;
}

.store-products .type-product:after,
.store-products .description:after {
    content: '';
    display: block;
    clear: both;
}

#paging {
    margin-bottom: 40px;
    text-align: center;
}

#paging a {
    font-size: 0.9rem;
    background-color: gainsboro;
    border: 1px solid gray;
    padding: 0.5rem 0.9rem;
    color: black;
    text-decoration: none;
}

/*css for main part of contact.php*/
.container-contact .visit-us-article {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.container-contact .visit-us-article .visit-us-img {
    float: left;
}

.container-contact .visit-us-article .address-info {
    float: right;
    width: 422px;
}

.container-contact .visit-us-article:after {
    content: '';
    display: block;
    clear: both;
}

.container-contact .visit-us-article .address-info h1,
.container-contact .message-article h1 {
    font-size: 1.9rem;
    margin-bottom: 10px;
}

.container-contact .visit-us-article .address-info p,
.container-contact .message-article p {
    font-size: 1.0rem;
    margin-bottom: 10px;
}

.container-contact .message-article {
    width: 1000px;
    margin: 0 auto;
}

.container-contact .message-article h1 {
    text-align: center;
    text-transform: uppercase;
}

.container-contact .message-article p {
    text-align: center;
    margin-bottom: 20px;
}

.message-article form {
    margin-bottom: 40px;
}

.message-article form .form-parts .left-part {
    float: left;
    width: 440px;
}

.message-article form .form-parts .right-part {
    float: right;
    width: 425px;
}

.message-article form .form-parts:after {
    content: '';
    display: block;
    clear: both;
}

.form-parts .left-part .name,
.form-parts .left-part .email,
.form-parts .left-part .subject {
    margin-bottom: 16px;
}

.form-parts .left-part label,
.form-parts .right-part label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.0rem;
}

.form-parts .left-part input {
    width: 100%;
    height: 40px;
}

.form-parts .right-part textarea {
    width: 100%;
}

.button {
    float: right;
    padding: 10px 40px;
    border-radius: 5px;
    background: deeppink;
    color: #ffffff;
    border: 1px solid deeppink;
}

.button:hover {
    cursor: pointer;
    background: #4B0082;
    border: 1px solid #4B0082;
}

form:after {
    content: '';
    display: block;
    clear: both;
}
